/* Choose Your Preferred Assessments */

.assessments-content {
	background-color: var(--alt-color);
	height: 100%;
	/* gap: 48px; */
	/* max-height: 600px; */
	justify-content: space-around;
	padding: 72px;
}

/* .assessments-header {
} */

.assessments-title {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 34px;
	line-height: 41px;
	text-align: center;
	letter-spacing: -0.02em;

	color: #824a7a;
	margin-bottom: var(--gutter-md, 36px);
}

.assessments-helper-text {
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	letter-spacing: 0.2em;

	color: #613b5b;
}

.assessments-card-wrap {
	gap: 72px;
}

/* Assessments Card */

.assessment-card {
	/* position: relative; */
	width: 311px;
	height: 378px;

	background: #ffffff;
	box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 61px 58px;
}

.assessment-visual {
	width: 128px;
	height: 128px;
	padding-bottom: 16px;
}

.assessment-title {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	letter-spacing: 0.04em;

	color: #824a7a;
}

.assessment-helper-text {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 21px;
	padding-top: 8px;
	text-align: center;
	letter-spacing: 0.04em;

	color: #ef5da8;
}

.assessment-btn {
	background: #ba68c8;
	border-radius: 32px;
	padding: 8px 30px;
	font-weight: 900;
	margin-top: 12px;
}

.assessment-btn:hover {
	background-color: #ad0093;
}

@media screen and (max-width: 600px) {
	.assessments-title {
		font-size: 30px;
		margin-bottom: 48px;
		transition: 2s ease;
	}

	.assessments-icon {
		width: 25%;
		transition: 2s ease;
	}

	.assessments-helper-text {
		font-size: 16px;
	}
	.assessments-card-wrap {
		gap: 48px;
	}
	.assessment-card {
		width: 240px;
		height: 292px;
		padding: 36px 20px;
	}
	.assessment-visual {
		width: 100px;
		height: 100px;
	}

	.assessment-title {
		font-size: 16px;
	}

	.assessment-btn {
		padding: 6px 18px;
		font-size: 16px;
	}
}
