* {
  margin: 0;
  padding: 0;
}
.conainer {
  width: 600px;
  margin: 100px auto;
  font-family: "Arial";
}
.circle_percent {
  font-size: 200px;
  width: 1em;
  height: 1em;
  position: relative;
  background: #eee;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin: 20px;
}
.circle_inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  clip: rect(0 1em 1em 0.5em);
}
.round_per {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  background: #e4a6d2;
  clip: rect(0 1em 1em 0.5em);
  transform: rotate(180deg);
  transition: 1.05s;
}
.percent_more .circle_inner {
  clip: rect(0 0.5em 1em 0em);
}
.percent_more:after {
  position: absolute;
  left: 0.5em;
  top: 0em;
  right: 0;
  bottom: 0;
  background: #e4a6d2;
  content: "";
}
.circle_inbox {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #fff;
  z-index: 3;
  border-radius: 50%;
}
.percent_text {
  position: absolute;
  font-size: 36px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
