/* add imported fonts
 */

@font-face {
	font-family: "Fira Sans";
	src: url("../assets/fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	/*  url("../assets/fonts/Fira_Sans/FiraSans-Black.ttf") format("truetype"),
		url("../assets/fonts/Fira_Sans/FiraSans-BlackItalic.ttf") format("truetype"), */
	/* format("truetype"); */
	/* url("../assets/fonts/Fira_Sans/FiraSans-BoldItalic.ttf") format("truetype"),
		url("../assets/fonts/Fira_Sans/FiraSans-ExtraBold.ttf") format("truetype"),
		url("../assets/fonts/Fira_Sans/FiraSans-ExtraBoldItalic.ttf")
			format("truetype"),
		url("../assets/fonts/Fira_Sans/FiraSans-ExtraLight.ttf") format("truetype"),
		url("../assets/fonts/Fira_Sans/FiraSans-ExtraLightItalic.ttf")
			format("truetype"),
		url("../assets/fonts/Fira_Sans/FiraSans-Italic.ttf") format("truetype"),
		
		url("../assets/fonts/Fira_Sans/FiraSans-Medium.ttf") format("truetype"),
		url("../assets/fonts/Fira_Sans/FiraSans-MediumItalic.ttf")
			format("truetype"),
		url("../assets/fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype"),
		url("../assets/fonts/Fira_Sans/FiraSans-SemiBold.ttf") format("truetype"),
		url("../assets/fonts/Fira_Sans/FiraSans-SemiBoldItalic.ttf")
			format("truetype"),
		url("../assets/fonts/Fira_Sans/FiraSans-Thin.ttf") format("truetype"),
		url("../assets/fonts/Fira_Sans/FiraSans-ThinItalic.ttf") format("truetype"); */
}

@font-face {
	font-family: "Fira Sans";
	src: url("../assets/fonts/Fira_Sans/FiraSans-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Fira Sans";
	src: url("../assets/fonts/Fira_Sans/FiraSans-LightItalic.ttf")
		format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/Poppins-Black.ttf") format("truetype");
	/* url("../assets/fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf")
			format("truetype"),
		url("../assets/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf")
			format("truetype"),
		url("../assets/fonts/Poppins/Poppins-Italic.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-Light.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-LightItalic.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype"),
		url("../assets/fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype"); */
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");

	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");

	font-weight: 400;
	font-style: normal;
}
