.hero-content {
	overflow: hidden;
	padding: 72px 60px;
	/* var(--page-thickness, 91px); */
}

/*  #a56786 */

.hero-description {
	width: 50%;
	z-index: 2;
	order: 1;
	flex: 1;
}

.hero-visual {
	width: 60%;
	order: 2;
	flex: 1;
	margin-top: 48px;
}

.hero-img {
	object-fit: cover;
	height: 560px;
	/* width: 100%; */
	/* margin: 0 -130px; */
}

.hero-text {
	color: var(--primary-color, #a56786);
	padding-bottom: 8px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	margin: 0;
	letter-spacing: 0.1em;

	color: #ba68c8;
}

.hero-btn {
	width: 300px;
	box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.25);
	padding: 24px;
}

@media screen and (max-width: 1024px) {
	.hero-visual {
		height: 50;
		/* width: 100%; */
	}
}
@media screen and (max-width: 992px) {
	.content-wrap {
		height: calc(100vh);

		/* padding-top: 60px; */
	}

	.hero-description,
	.hero-visual {
		width: 100%;
		flex-basis: 100%;
	}
	.hero-description {
		order: 2;
	}
	.hero-visual {
		order: 1;
	}
	.hero-img {
		height: 100%;
		/* width: 100%; */
	}
}

@media screen and (max-width: 440px) {
	.hero-text {
		font-size: 16px;
		line-height: 24px;
	}

	.hero-btn {
		width: 250px;
		padding: 18px;
		font-size: 16px;
	}
}
