* {
	box-sizing: border-box;
}

:root {
	--primary-color: #a56786;
	/* --page-colour: rgb(224, 214, 152); */
	--heading-text-color: #301824;
	--accent-color: #ef5da8;
	--heading-text-size: 48px;
	--page-thickness: 60px;
	--md-gutter: 36px;
	--big-gutter: 48px;
	--xl-gutter: 64px;
}

body {
	padding: 0;
	outline: 0;
	margin: 0;
	overflow: hidden;
	font-family: "Poppins", Calibri, sans-serif;
	font-weight: 400;
}

.container {
	margin: 0 auto;
}

/* Global Styles */
.row {
	display: flex;
	flex-flow: row wrap;
	gap: 16px;
}

.no-wrap {
	flex-wrap: nowrap;
}

.column {
	display: flex;
	flex-direction: column;
	/* gap: 16px; */
}

.al-center {
	align-items: center;
}

.j-center {
	justify-content: center;
}

/* .align-end {
	align-items: flex-end;
} */

.al-start {
	align-self: flex-start;
}

.space-btw {
	justify-content: space-between;
}

.gutter-xl {
	gap: var(--xl-gutter, 64px);
}

.gutter-lg {
	gap: 24px var(--big-gutter, 48px);
}

.gutter-md {
	row-gap: var(--md-gutter, 36px);
}

.heading-1 {
	font-size: var(--heading-text-size, 48px);
	color: var(--heading-text-color, #301824);
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	text-transform: capitalize;
	letter-spacing: -0.02em;
	color: #824a7a;
	margin: 0;
}
