* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	/* transition: 0.4s ease; */
}
html {
	font-size: 90%;
}
html::-webkit-scrollbar {
	width: 0.5rem;
}
html::-webkit-scrollbar-track {
	background: #e770c3;
}
html::-webkit-scrollbar-thumb {
	background: #ffb6f9;
	border-radius: 4rem;
}
body {
	background: #f8dbf5;
}

section {
	padding: 2rem 9%;
	border-bottom: 2px solid #ba68e8;
}
.container {
	padding: 0.3rem;
	border: 0.3rem solid #ba68c8;
	text-align: center;
	align-content: center;
	justify-content: center;
	height: 2rem;
	width: 10rem;
	border-radius: 3rem;
	background: #f8dbf5;
	margin-top: -3rem;
	margin-left: -4.5rem;
	font-size: 0.8rem;
}

.btn {
	font-size: 1.1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 20px;
	text-align: center;
	position: absolute;
	padding: 0.5rem;
	width: 8.5rem;
	left: 79rem;
	top: 35rem;
	text-decoration: none;
	background: #ba68c8;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	display: none;
}
.btn-2 {
	font-size: 1.1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 20px;
	text-align: center;
	position: absolute;
	padding: 0.5rem;
	width: 8.5rem;
	right: 79rem;
	top: 35rem;
	text-decoration: none;
	background: #ba68c8;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	display: none;
}

.heading {
	font-weight: 800;
	text-align: center;
	font-size: 2.5rem;
	color: #824a7a;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	border-bottom: 2px solid #ba68e8;
	height: auto;
	padding: 1rem;
}
section .question {
	font-family: "Fira Sans", sans-serif;
	letter-spacing: 1px;
	line-height: 2.4rem;
	text-align: center;
	font-size: 1.8rem;
	padding: 1rem 0;
	color: #ba68e8;
	text-transform: uppercase;
	font-weight: 600;
	transition: 0.4s ease;
}

section .options {
	margin-bottom: 4rem;
	align-content: center;
	justify-content: center;
	line-height: 3rem;
}
.options .option {
	text-transform: capitalize;
	font-family: "Poppins", sans-serif;
	stroke: #824a7a;
	background: #f8f4f9;
	/* text-align: center; */
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 0 0.4rem;
	margin: 1.5rem;
	border: 1px solid #824a7a;
	border-radius: 3rem;
	font-size: 1rem;
	color: #b32fff;
	cursor: pointer;
	font-weight: 700;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.option .option-content {
	width: 260px;
}

.option-content .radio-btn {
	margin-right: 2rem;
}

@media screen and (max-width: 768px) {
	html {
		font-size: 70%;
	}
	.container {
		margin-left: -1rem;
	}
	.option {
		padding: 0.2rem;
	}

	.option .option-content {
		width: 220px;
	}
}
